@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');


/* MOBILE */
@media only screen and (max-width: 1700px) {}

/* DESKTOP */
@media only screen and (min-width: 1701px) {}

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}


body {
    margin: 0%;
    background-image: url(files/back2.png);
    background-size: 100%;

}

.header {
    background-color: #111;
    color: white;
    margin: 0px;
    width: 100%;
    height: 55px;


}

#title {
    position: absolute;
    left: 47%;
    top: 1%;


}

/* The sidepanel menu */
.sidepanel {
    height: 350px;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 40px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    height: 100%;
}

.openbtn:hover {
    background-color: #444;
}

/*text*/

.scrit {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    animation: fadeIn 1s;
    --webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
    font-family: Roboto;
}
/*text animation*/

@keyframes fadeIn {
    0% { opacity: 0;
    top: 80%;
    font-size: 85px; }
    100% { opacity: 1; 
    top: 50%;
    font-size: 100px;}
    

  }
  
  @-moz-keyframes fadeIn {
        0% { opacity: 0;
        top: 80%;
        font-size: 85px; }
        100% { opacity: 1; 
        top: 50%;
        font-size: 100px;}
  }
  
  @-webkit-keyframes fadeIn {
        0% { opacity: 0;
        top: 80%;
        font-size: 85px; }
        100% { opacity: 1; 
        top: 50%;
        font-size: 100px;}
  }
  
  @-o-keyframes fadeIn {
        0% { opacity: 0;
        top: 80%;
        font-size: 85px; }
        100% { opacity: 1; 
        top: 50%;
        font-size: 100px;}
  }
  
  @-ms-keyframes fadeIn {
        0% { opacity: 0;
        top: 80%;
        font-size: 85px; }
        100% { opacity: 1; 
        top: 50%;
        font-size: 100px;}
  }